@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

@keyframes rainbow {
  0% { color: #ff0000; } /* Red */
  14% { color: #ff7f00; } /* Orange */
  28% { color: #ffff00; } /* Yellow */
  42% { color: #00ff00; } /* Green */
  57% { color: #0000ff; } /* Blue */
  71% { color: #4b0082; } /* Indigo */
  85% { color: #9400d3; } /* Violet */
  100% { color: #ff0000; } /* Red */
}

.rainbow-text {
  display: inline-block; /* Needed for animation to work correctly on text */
  animation: rainbow 6s infinite linear;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Optional: subtle white glow */
}

.gradient-text {
  background: linear-gradient(to right, #a078f0, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
